@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

.siteHeader {
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: var(--bg);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.06);
  transition: transform 0.4s ease, opacity 0.4s ease;
}

.hide {
  transform: translateY(-100%);
  opacity: 0;
  pointer-events: none;
}

.show {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.siteHeader {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  height: 85px;
  background-color: var(--bg);
  align-content: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.06);
}

.nav {
  position: relative;
  width: 100%;
  padding: 18px 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  width: 100%;
  font-family: "Montserrat", sans-serif;
  max-width: 1200px;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  height: 30px;
  width: auto;
  object-fit: contain;
}

.navLinks {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-size: 28px;
  font-weight: 300;
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.toggleWrapper {
  display: flex;
  align-items: center;
  z-index: 2;
}

.navLinks a {
  text-decoration: none;
  color: #383838;
  font-size: 0.95rem;
  position: relative;
  transition: color 0.3s ease;
  padding-bottom: 0.5rem;
}

.navLinks a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;

  width: 0%;
  height: 2px;
  background-color: #383838;

  transition: width 0.3s ease;
}

/* hover effect */
.navLinks a:hover::after {
  width: 100%;
}

/* active route */
.navLinks a.active::after {
  width: 100%;
}

.navLinks a,
.navLinks a:visited,
.navLinks a:hover,
.navLinks a:active {
  color: var(--text);
}

.burger {
  display: none;
  flex-direction: column;
  gap: 5px;
  background: none;
  border: none;
  cursor: pointer;
}

.burger span {
  width: 22px;
  height: 2px;
  background: var(--text);
  transition: all 0.3s ease;
}

.right {
  display: flex;
  align-items: center;
  gap: 16px;
}

.burger {
  display: none;
}

.mobileMenu {
  position: fixed;
  top: 65px;
  left: 0;
  width: 100%;
  background: var(--bg);

  display: flex;
  flex-direction: column;
  gap: 24px;

  padding: 24px; 
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
  z-index: 99;
}

.mobileMenu a {
  color: var(--text);
  font-size: 1rem;
  text-decoration: none;
}

.mobileMenu {
  animation: slideDown 0.25s ease forwards;
}

@media (prefers-color-scheme: dark) {
  .siteHeader {
    background-color: var(--bg);
    opacity: 1;
  }

  .navLinks a {
    color: #383838;
  }
}

/* Responsive design */
@media (max-width: 768px) {
  .nav {
    padding: 1.5rem 2rem;
  }

  .logo img {
    width: 170px;
  }

  .navLinks {
    display: none;
  }

  .toggleWrapper {
    display: none;
  }

  .navLinks a {
    font-size: 0.9rem;
  }

  .burger {
    display: flex;
    padding-right: 50px;
  }
}

@media (max-width: 480px) {
  .nav {
    padding: 1rem 1.5rem;
    flex-wrap: wrap;
    gap: 1rem;
  }

  .toggleWrapper {
    display: none;
  }

  .navLinks {
    display: none;
  }

  .logo img {
    width: 150px;
  }

  .burger {
    display: flex;
    padding-right: 50px;
  }
}
