.hero {
  position: relative;
  min-height: 85vh;
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;

  background-image: url("../../assets/heroBanner.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
}

.heroHeader {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: transparent;
}

/* Center content */
.content {
  text-align: center;
  max-width: 700px;
  padding: 0 24px;
}

.title {
  font-family: "Bodoni Moda", serif;
  font-weight: 800;
  font-style: italic;
  font-size: 90px;
  letter-spacing: 0.4px;
  color: #383838;
  line-height: 1.1;
  margin: 0 0 24px;

}

.subtitle {
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  color: #383838;
  margin-bottom: 20px;
  margin-top: 20px;
}

.cta {
  background-color: #383838;
  color: #ffffff;
  border: none;
  border-radius: 999px;
  padding: 12px 28px;
  font-size: 14px;
  cursor: pointer;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
}

.cta:hover {
  opacity: 0.9;
}

/* Ticker container */
.ticker {
  position: absolute;
  bottom: 0;
  width: 100%;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(6px);
  padding: 14px 0;
}

/* Moving track */
.track {
  display: flex;
  gap: 48px;
  width: max-content;
  animation: scroll 25s linear infinite;
}

/* Individual items */
.track span {
  font-size: 13px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0.85;
}

/* Animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@media (prefers-reduced-motion: reduce) {
  .track {
    animation: none;
  }
}
